body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.app-background {
  min-height: 100vh;

  background: linear-gradient(
      rgba(15,23,42,0.85),
      rgba(15,23,42,0.85)
    ),
    url("https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-card {
  animation: fadeIn 0.6s ease;
}